
.big-text {
    font-size: 10pt;
}

.medium-text {
    font-size: 9pt;
}

.small-text {
    font-size: 8pt;
}

#account-list {
    padding: 13px;
}

#wesabe-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}